@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media (min-width: $screen-sm-min) {
  .header-contact {
    padding-top: 30px;
  }
}

.header {
  .logo {
    & > a {
      text-decoration: none;
      color: #000;
    }
  }
}

.carousel-caption {
  a, a:hover {
    color: #fff;
    text-decoration: none;
  }
}